*.iml
.gradle
/local.properties
.idea
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.safedk
.DS_Store
/build
library/build
/library/build
/captures
.externalNativeBuild
.cxx
.idea/.name
.idea/jarRepositories.xml
.idea/misc.xml
/.idea
.idea
app/release
app/build
android-pdf-viewer/build
**/build/
/app/gb26.jks
/app/infor.txt
/app/gb26---pdf-firebase-adminsdk-fbsvc-c89b6a9c12.json
/app/key.properties
/deps.txt
/et --hard d267bd64
/translateauto.py
/app/move.bat
/base-pdf-reader/src/main/libs/arm64-v8a/libezpdf.so
/base-pdf-reader/src/main/libs/armeabi-v7a/libezpdf.so
node_modules/
/cron-fcm/gb26---pdf-7e0f77f56b76.json
/cron-fcm/cron-fcm.log
/cron-fcm/cron-fcm.exe
/package-lock.json
